@font-face {
  font-family: HappyMonkey;
  src: url("HappyMonkey-Regular.ttf");
}

body {
  font-family: HappyMonkey, cursive;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(#a2d2ff, #efb0c9);
}

#avatar {
  border-radius: 50%;
  width: 150px;
  border: 6px solid #efb0c9;
}
h1,
h2,
h3,
h4 p {
  text-shadow: 0 0 1px black;
}

#bday-age {
  background: #efb0c9;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0 8px 0;
}

#bday-date {
  background: #efb0c9;
  border-radius: 5px;
  padding: 5px 10px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-img {
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("gift-image.jpg");
  background-size: cover;
  margin: 0 auto;
}
.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

#gift-img-happy:hover {
  background-image: url("HappyBabyGIF.gif");
}

#gift-img-hot:hover {
  background-image: url("HappySeinfeldGIF.gif");
}

#gift-img-genius:hover {
  background-image: url("welldone.gif");
}

#gift-img-badass:hover {
  background-image: url("Muscle.gif");
}

#gift-img-cheers:hover {
  background-image: url("Celebrate.gif");
}
#gift-img-cheers {
  height: 200px;
}

footer {
  margin: 20px 0;
  font-family: italic, sans-serif;
  font-size: 20px;
  font-weight: 800;
}

a {
  color: white;
}
